<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>

    <br>
    <br>
    <br>

    <section class="destacados">
      <div class="titulo-Section">
        <img src="/Imagenes/<%= categoryBanner %>" width="80%" alt="">
      </div>
      <br>
      <br>
      <div class="productos">
        <% for (product of categoria){%>

        <a href="/productDetail/detail/<%= product.id %>">
          <article>
            <img src="/Imagenes/products/<%= product.image %>" alt="<%= product.Nombre %>">
            <div class="infoDelProducto">
              <p class="descripcion"><%= product.Nombre %></p>
              <p class="precio">$<%= product.Precio %></p>
            </div>
          </article>
        </a>

        <% } %>

      </div>


    </section>

    <br>
    <br>
    <br>



    <%- include('./partials/footer') %> 
    
</body>
</html>