<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

      <div class="titulo-section">
        <% if(productEdit){ %> 
          <h2>Editor del producto: "<%= productEdit.Nombre %>" </h2>
        <% }else{ %>
          <h2>Creación de Productos</h2>
        <% } %> 
      </div>
        
        <main class="mainAdmin">
          <% if(productEdit){ %> 
            <form action="/detail/<%= productEdit.id %>?_method=PUT" class="adminForm" method="POST" enctype="multipart/form-data">
          <% }else{ %>

           <form action="/detail" class="adminForm" method="POST" enctype="multipart/form-data">
          <% } %> 

            <br>
  <!-- Nombre -->
              <label for="Nombre">Nombre del Producto</label>
<br>

            <% if(productEdit){ %> 
              <input type="text" name="name" id="Nombre" value="<%= productEdit.name %> "> 
            <% }else{ %>
              <input type="text" name="name" id="Nombre"> 
            <% } %> 
                
  <!-- Nombre -->
             
<br>
<br>

  <!-- Descripcion -->
                <label for="description">Ingersar descripción del producto</label>
            <br>
            <% if(productEdit){ %> 
                <textarea name="description" id="Descripcion" rows="4"><%= productEdit.description %></textarea>
            <% }else{ %>
            <textarea name="description" id="Descripcion" rows="4"></textarea>
            <% } %> 
  <!-- Descripcion -->

<br>
<br>

  <!-- Categoria -->

            <label>Ingresar la Franquicia</label>
<br>
            <select name="id_franchise" id="">
              <% franquicias.forEach(franquicia => { %>
                <option value="<%= franquicia.id %>" <% if( productEdit.id_franchise == franquicia.id ){ %> <%= "selected" %> <% } %>  ><%= franquicia.franchise_name %> </option>
              <% }) %>
            </select>

             
  <!-- Categoria -->

<br>
<br>

  <!-- Tags -->
            <label>Ingresa los Categorias</label>
            <br>
             <div class="radioInputs">

              <% categorias.forEach(categoria => { %>
                <label><input type= "checkbox" name="id_productsCategory" value="<%= categoria.id %>" <% if( productEdit.id_productsCategory == categoria.id ){ %> <%= "checked" %> <% } %>  ><%= categoria.category_name %> </label>
                <br>
              <% }) %>
              </div>
  <!-- Tags -->
           
<br>
<br>

  <!-- Imagen -->
            
            <label for="file">Imagen del producto</label>
<br>
            <div class="">
              <input type="file" alt="Submit" name="file" id="file">
            </div>

  <!-- Imagen -->
<br>
<br>
  <!-- Precio -->
            <label for="Precio">Ingresar Precio</label>
<br>
        <% if(productEdit){ %> 
            <input type="text" name="price" value="<%= productEdit.price %>"> 
          <% }else{ %>
            <input type="number" name="price"> 
          <% } %> 
  <!-- Precio -->
          
          <br>
          <br>
          <br>
             
             <button type="submit" value="Submit">Submit</button>
             <button type="reset" value="Reset">Reset</button>
             <br>
           </form>
         </main>

      <br>
      <br>
    <%- include('./partials/footer') %> 
  </body>
</html>
