<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

      <div class="titulo-section">
        <% if(productEdit){ %> 
          <h2>Editor del producto: "<%= productEdit.Nombre %>" </h2>
        <% }else{ %>
          <h2>Creación de Productos</h2>
        <% } %> 
      </div>
        
        <main class="mainAdmin">
          <% if(productEdit){ %> 
            <form action="/detail/<%= productEdit.id %>?_method=PUT" class="adminForm" method="POST" enctype="multipart/form-data">
          <% }else{ %>

           <form action="/detail" class="adminForm" method="POST" enctype="multipart/form-data">
          <% } %> 

            <br>
  <!-- Nombre -->
              <label for="Nombre">Nombre del Producto</label>
<br>

            <% if(productEdit){ %> 
              <input type="text" name="Nombre" id="Nombre" value="<%= productEdit.Nombre %> "> 
            <% }else{ %>
              <input type="text" name="Nombre" id="Nombre"> 
            <% } %> 
                
  <!-- Nombre -->
             
<br>
<br>

  <!-- Descripcion -->
                <label for="Descripcion">Ingersar descripción del producto</label>
            <br>
            <% if(productEdit){ %> 
                <textarea name="Descripcion" id="Descripcion" rows="4"><%= productEdit.Descripcion %></textarea>
            <% }else{ %>
            <textarea name="Descripcion" id="Descripcion" rows="4"></textarea>
            <% } %> 
  <!-- Descripcion -->

<br>
<br>

  <!-- Categoria -->

            <label>Ingresar la Categoria</label>
<br>
             <div class="radioInputs">
              <label><input type="radio" name="Categoria" value="Marvel" <% if(productEdit.Categoria == "Marvel"){ %> <%= "checked" %> <% } %> >  Marvel</label>
<br>
                <label><input type="radio" name="Categoria" value="LosSimpsons" <% if(productEdit.Categoria == "LosSimpsons"){ %> <%= "checked" %> <% } %>>  Los Simpsons</label>
<br>
                <label><input type="radio" name="Categoria" value="Star Wars" <% if(productEdit.Categoria == "Star Wars"){ %> <%= "checked" %> <% } %>>  Star Wars</label>
             </div>
             
  <!-- Categoria -->

<br>
<br>

  <!-- Tags -->
            <label>Ingresa los Tags</label>
            <br>
             <div class="radioInputs">
              <label><input type="checkbox" name="AndroideDelMes" value=true <% if(productEdit.AndroideDelMes){ %> <%= "checked" %> <% } %>>  Androide del Mes</label>
<br>
                <label><input type="checkbox" name="Heroina" value=true <% if(productEdit.Heroina){ %> <%= "checked" %> <% } %>>  Heroína</label>
<br>
                <label><input type="checkbox" name="Funko" value=true <% if(productEdit.Funko){ %> <%= "checked" %> <% } %>>  Funko</label>
<br>
                <label><input type="checkbox" name="Lego" value=true <% if(productEdit.Lego){ %> <%= "checked" %> <% } %>>  LEGO</label>
             </div>
  <!-- Tags -->
           
<br>
<br>

  <!-- Imagen -->
            
            <label for="file">Imagen del producto</label>
<br>
            <div class="">
              <input type="file" alt="Submit" name="file" id="file">
            </div>

  <!-- Imagen -->
<br>
<br>
  <!-- Precio -->
            <label for="Precio">Ingresar Precio</label>
<br>
        <% if(productEdit){ %> 
            <input type="text" name="Precio" value="<%= productEdit.Precio %>"> 
          <% }else{ %>
            <input type="number" name="Precio"> 
          <% } %> 
  <!-- Precio -->
          
          <br>
          <br>
          <br>
             
             <button type="submit" value="Submit">Submit</button>
             <button type="reset" value="Reset">Reset</button>
             <br>
           </form>
         </main>

      <br>
      <br>
    <%- include('./partials/footer') %> 
  </body>
</html>
