<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <br>
  <br>

  <main class="productD">
    <div class="Imagen">
        <img src="/Imagenes/products/<%= product.image %>" alt="<%= product.name %>">
    </div>
    <div class="Info">
        <h1><%= product.Nombre %></h1>
        <br>
        <br>
        <h2>$<%= product.Precio %> </h2>
        <br>
        <br>
        <form action="">
            <button>Comprar</button>
        </form>
        <p><%= product.Descripcion %> </p>

    </div>

  </main>

  <br>
  <br>
  <br>
  <br>
    <% if(user){ %> 
    <div class="total-carrito">   
        <a href="/detail/edit/<%= product.id %>" ><button>Editar</button></a>
        <form action="/detail/<%= product.id %>?_method=DELETE" method='POST'>
            <button>Borrar Producto</button>
        </form>
    </div>

    <% } %> 
    <br>
    <br>
      <%- include('./partials/footer') %> 
</body>
</html>
  