<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>

    <br>
    <br>

    <section class="destacados">
      <div class="titulo-Section">
        <img src="/Imagenes/HeroínasBanner.png" style="width:80%; text-align: center;" alt="">
        <!-- <h2>Los Simpsons</h2> -->
      </div>
      <br>
  
        <div class="productos">
          <% for (product of Heroinas){%>
  
          <a href="/productDetail/detail/<%= product.id %>">
            <article>
              <img src="/Imagenes/products/<%= product.image %>" alt="<%= product.name %>">
              <div class="infoDelProducto">
                <p class="descripcion"><%= product.name %></p>
                <p class="precio">$<%= product.price %></p>
              </div>
            </article>
          </a>
  
          <% } %>
  
        </div>
      </section>

    <br>
    <br>
    <br>



    <%- include('./partials/footer') %> 
    
</body>
</html>