<!DOCTYPE html> 
<html lang="en"> 
  <%- include('./partials/head') %>
<body> 

  <%- include('./partials/header') %>     
  
  
  <div class="carrito">
    <% for (product of marvel){%>
      <div class="carritoDetail">
        <a href="/detail/product/<%= product.id %>">
          <article>
            <img src="/Imagenes/products/<%= product.image %>" alt="<%= product.Nombre %>">
            <div class="infoDelProducto">
              <p class="descripcion"><%= product.Nombre %></p>
              <p class="precio">$<%= product.Precio %></p>
              <p class="precio"> Cantidad: 2</p>
            </div>
          </article>
        </a>
      </div>
      
      <% precioTotal = precioTotal + (product.Precio * 2) %> 
        <% } %>
        <div class="totalCarrito">
          <p class="descripcion">Precio Total <%= precioTotal %></p>
        </div>


  </div>
  
    <br> 
    <br> 
    <br>
    <br>
    <br>
  
    <%- include('./partials/footer') %> 
 
</body> 
</html>