<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>


    <div class="titulo-section">
        <h2>Creá tu cuenta</h2>
      </div>

    <!-- Formulario de Registro -->
    <div class="register">
        <div class="errores">
            <ul></ul>
        </div>
        <form action="/users/register" method="POST" enctype="multipart/form-data" class = "Formu-Registro">
            <main class="register-form">
                
                <br>
                <label for="name">Nombre:</label>
                <br>
                <input type="text" name="name" value="<%= locals.old && old.name %>"> 
                <% if(locals.errors && errors.name){ %>
                <p><%= errors.name.msg %></p>
                <% } %>
                <br>
                <br>
                <label for="surname">Apellido:</label>
                <br>
                <input type="text" name="surname" value="<%= locals.old && old.surname %>"> 
                <% if(locals.errors && errors.surname){ %>
                <p><%= errors.surname.msg %></p>
                <% } %>
                <br>
                <br>
                
                <label for="email"> Email</label>
                <br>
                <input type="email" name="email" value="<%= locals.old && old.email %>">
                <% if(locals.errors && errors.email){ %>
                    <p><%= errors.email.msg %></p>
                <% } %>
                <br>
                <br>
                
            <label for="domicilio">Domicilio:</label>
            <br>
            <input type="text" name="domicilio" value="<%= locals.old && old.domicilio %>"> 
            <% if(locals.errors && errors.domicilio){ %>
                <p><%= errors.domicilio.msg %></p>
            <% } %>
            <br>
            <br>
            
            <label for="telefono">Teléfono:</label>
            <br>
            <input type="text" name="telefono" value="<%= locals.old && old.telefono %>"> 
            <% if(locals.errors && errors.telefono){ %>
                <p><%= errors.telefono.msg %></p>
            <% } %>
            <br>
            <br>
            
            
            <label> Fecha de nacimiento</label>
            <br>
            <input type="date" name="fecha" value="<%= locals.old && old.fecha %>">
            <% if(locals.errors && errors.fecha){ %>
                <p><%= errors.fecha.msg %></p>
            <% } %>
            <div class="foto-perfil">
                <label> <h4>Seleccioná tu foto de perfil </h4>
                    <input type="file" name="file" value="<%= locals.old && old.file %>">
                </label>
                <% if(locals.errors && errors.file){ %>
                    <p><%= errors.file.msg %></p>
                <% } %>
            </div>
            <br>
            <div class="contraseña"> 
                <h4>Ingresá una cotraseña</h4>
                <label for="contraseña">
                    <input type="password" name="contraseña" value="<%= locals.old && old.contraseña %>">
                </label>
                <% if(locals.errors && errors.contraseña){ %>
                    <p><%= errors.contraseña.msg %></p>
                <% } %>
            </div>
            <br>
            <br>    
            <div class="no-soy-un-robot">
                <label> No soy un robot
                    <input type="checkbox" name="no-soy-un-robot" value="no-soy-un-robot">
                </label>
            </div>
            <br>
            <div class="podes-ingresar-con-google">
                <label> 
                    <p>Podes ingresar con tu cuenta de google</p>
                    <button type="submit">
                        <div class="google">
                            <i class="fab fa-google"><a href="https://www.google.com/"></a></i>
                        </div>
                    </button>
                </label>   
            </div>
            <br>
            <button type="submit">REGISTRARSE</button>
            <br>
            <br>
        </main>
    </form>
    </div>
</div>
<br>
<br>
<%- include('./partials/footer') %> 
</body>
</html>